{% extends "layout.html.twig" %}

{% block title %}{{ burger.name }}{% endblock %}

{% block content %}

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-5 col-sm-7">
            <img class="img-responsive" id="imgBurger" src="{{ app.request.basepath }}/images/{{ burger.IMGname }}" title="{{ burger.name }}" />
        </div>
        <div class="col-md-7 col-sm-5">
            <h2>{{ burger.name }}
                <br><small>{{ burger.resume }}</small>
                <br><small><a href="/cat/{{ burger.category }}">{{ category.name }}</a></small>
                <br><small>{{ burger.price }} euros</small>
            </h2>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                {{ form_start(cartForm) }}

                    <div class="form-group">
                        {{ form_label(cartForm.quantity, 'Quantité', { 'label_attr':  {
                                'class': 'col-md-2 col-sm-2 control-label required'
                            }})
                        }}
                        <div class="col-md-2 col-sm-2">
                        {{ form_errors(cartForm.quantity) }}
                        {{ form_widget(cartForm.quantity, { 'attr':  {
                            'required': 'required',
                            'class': 'form-control'
                        }}) }}
                        </div>
                    </div>
					<br/><br/>
                    <div class="form-group">
						<div class="col-md-2 col-sm-2">
							<button type="submit" class="btn btn-default btn-primary"><span class="glyphicon glyphicon-shopping-cart"></span> Ajouter au panier</button>
						</div>
					</div>
                {{ form_end(cartForm) }}

            {% else %}
                <a href="{{ path('login') }} ">Log in</a> to add burgers to cart.
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
