{% extends "layout.html.twig" %}

{% block title %}{{ burger.name }}{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="row">
        <div class="col-md-5 col-sm-7">
            <img class="img-responsive" id="imgBurger" src="{{ app.request.basepath }}/images/{{ burger.IMGname }}" title="{{ burger.name }}" />
        </div>
        <div class="col-md-7 col-sm-5">
            <h2>{{ burger.name }}
                <br><small>{{ burger.resume }}</small>
                <br><small><a href="/cat/{{ burger.category }}">{{ category.name }}</a></small>
                <br><small>{{ burger.price }} euros</small>
            </h2>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}

            {{ form_start(cartForm) }}
                {{ form_label(cartForm.quantity, 'Qté', { 'label_attr':  {
                        'class': 'col-sm-5 control-label required'
                    }}) }}
                    <input type="submit" value="Ajouter au panier"/>
                {{ form_end(cartForm) }}

                <a href="/cart/add/{{ burger.id }}" class="btn btn-primary" id="">
                    <span class="glyphicon glyphicon-shopping-cart"></span> Ajouter au panier
                </a>
            {% else %}
                <a href="{{ path('login') }} ">Log in</a> to add burgers to cart.
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
